/* You can add global styles to this file, and also import other style files */
body {
    min-width: 720px !important;
    margin: 0px;
    padding: 0px;
}

.block {
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
}

.label {
    display: block;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 600;
    margin-block-start: 1rem;
    margin-right: 1rem;
}

.tituloCard {
    color: #333333;
    float: right;
    font-weight: 700;
}

.tagTitulo {
    font-weight: 1000;
    background-color: #333333;
    color: #ffffff;
    text-align: left;
    padding: 5px 3px 3px 3px;
    display: inline-block;
}

.tagSubtitulo {
    font-weight: 1000;
    background-color: #333333;
    color: #ffffff;
    text-align: left;
    padding: 5px 3px 3px 3px;
    display: inline-block;
}

.tituloCard img {
    margin-left: 5px;
}

.botoesCard {
    color: #555555;
    float: right;
}

.botoesTopContent {
    float: right;
    padding-right: 10px;
}

.tabela {
    width: 100%;
}

.tabela td,
table td * {
    vertical-align: top;
}

.col80 {
    width: 80%;
    /* min-width: 500px; */
}

.contextosPotencialidade {
    font-size: 12px;
    color: #02a7f0;
    float: left;
}

.contextosFragilidade {
    font-size: 12px;
    color: #d9001b;
    float: left;
}

.contextosNumero {
    font-size: 12px;
    color: #555555;
    font-weight: 700;
}

.divSentimento {
    float: left;
    margin-right: 10px;
}

.divSentimento img {
    float: left;
    margin-right: 5px;
}

.espacoEsqueda {
    margin-left: 5px;
}

.btnAdicionar {
    position: absolute;
    top: 25px;
    left: 65px;
}

.questao {
    font-weight: bold;
}

.corQual {
    color: #00a650;
}

.revisado {
    font-size: 10px;
    font-weight: 600;
    padding: 5px 3px 3px 3px;
    color: #ffffff;
    text-align: left;
    background-color: #00a650;
    margin: 0px 0px 5px 5px;
    float: left;
}

.buttons {
    position: absolute;
    top: 20px;
    right: 24px;
}

.down {
    padding-top: 7px;
}
