.p-dropdown {
    min-width: 200px;
}

.p-multiselect {
    min-width: 200px;
}

.p-input-icon-left {
    margin-top: 32px;
}

.p-dataview .p-paginator-bottom {
    margin-top: 5px;
}

.p-dataview .p-paginator-top {
    margin-bottom: 5px;
}

.p-card {
    background: #ffffff;
    color: #495057;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
}

.p-card .p-card-body {
    padding: 0;
}

.p-card .p-card-content {
    padding: 0.5rem;
}

.p-button {
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: rgb(0, 166, 80);
    padding-bottom: 5px;
}

.p-inputtextarea {
    width: 100%;
    max-width: 100%;
}

/* .p-inputtext{
    width: 100%;
    max-width: 100%;
} */

.p-dialog {
    max-height: 100%;
}

.p-dialog .p-dialog-content {
    padding: 1.5rem 1.5rem 2rem;
}

p-radiobutton {
    margin-right: 15px;
}